<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/loder.png" alt="">
            </div>
        </div>
    </div>
</div>
<header>
        <div class="header-area">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div>
                                    <a href="/usuarioIndex"><img src="assets/img/logo/logo.png" ></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">  
                                                  <li><a href="adoptar">Adoptar</a></li>
                                                    <li><a href="darAdopcion">Dar en adopción</a></li>                                
                                                <li><a href="about">¿Quienes somos?</a></li>
                                                  <li><a href="#">Más</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog">Blog</a></li>
                                                        <li><a href="experiencias">Experiencias</a></li>
                                                        <li><a href="/">Cerrar sesión</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contactou">Contacto</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-20">
                                       
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
     
      
       
        <!--? Start Align Area -->
        <div class="whole-wrap">
            <div class="container box_1170">
                <div class="section-top-border">
                    <h3 class="mb-30">Left Aligned</h3>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="assets/img/elements/d.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-9 mt-sm-20">
                            <p>Recently, the US Federal government banned online casinos from operating in America by making it illegal to transfer money to them through any US bank or payment system. As a result of this law, most of the popular online casino
                                networks such as Party Gaming and PlayTech left the United States. Overnight, online casino players found themselves being chased by the Federal government. But, after a fortnight, the online casino industry came up with
                                a solution and new online casinos started taking root. These began to operate under a different business umbrella, and by doing that, rendered the transfer of money to and from them legal. A major part of this was enlisting
                                electronic banking systems that would accept this new clarification and start doing business with me. Listed in this article are the electronic banking systems that accept players from the United States that wish to play
                                in online casinos.</p>
                        </div>
                    </div>
                </div>
                <div class="section-top-border text-right">
                    <h3 class="mb-30">Right Aligned</h3>
                    <div class="row">
                        <div class="col-md-9">
                            <p class="text-right">Over time, even the most sophisticated, memory packed computer can begin to run slow if we don’t do something to prevent it. The reason why has less to do with how computers are made and how they age and more to do with the
                                way we use them. You see, all of the daily tasks that we do on our PC from running programs to downloading and deleting software can make our computer sluggish. To keep this from happening, you need to understand the reasons
                                why your PC is getting slower and do something to keep your PC running at its best. You can do this through regular maintenance and PC performance optimization programs</p>
                            <p class="text-right">Before we discuss all of the things that could be affecting your PC’s performance, let’s talk a little about what symptoms</p>
                        </div>
                        <div class="col-md-3">
                            <img src="assets/img/elements/d.jpg" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
               
                </div>
               
               
                <div class="section-top-border">
                    <h3>Image Gallery</h3>
                    <div class="row gallery-item">
                        <div class="col-md-4">
                            <a href="assets/img/elements/g1.jpg" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url(assets/img/elements/g1.jpg);"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="assets/img/elements/g2.jpg" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url(assets/img/elements/g2.jpg);"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="assets/img/elements/g3.jpg" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url(assets/img/elements/g3.jpg);"></div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="assets/img/elements/g4.jpg" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url(assets/img/elements/g4.jpg);"></div>
                            </a>
                        </div>
                        <div class="col-md-6">
                            <a href="assets/img/elements/g5.jpg" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url(assets/img/elements/g5.jpg);"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="assets/img/elements/g6.jpg" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url(assets/img/elements/g6.jpg);"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="assets/img/elements/g7.jpg" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url(assets/img/elements/g7.jpg);"></div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a href="assets/img/elements/g8.jpg" class="img-pop-up">
                                <div class="single-gallery-image" style="background: url(assets/img/elements/g8.jpg);"></div>
                            </a>
                        </div>
                    </div>
                </div>
              
     <footer>
        <div class="footer-wrapper">
           <!-- Footer Start-->
           <div class="footer-area footer-padding">
               <div class="container ">
                   <div class="row justify-content-between">
                       <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
                           <div class="single-footer-caption mb-50">
                               <div class="single-footer-caption mb-30">
                                   <!-- logo -->
                                   <div class="footer-logo mb-35">
                                       <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                                   </div>
                                   <div class="footer-tittle">
                                       <div class="footer-pera">
                                           <p>Si tener alma significa ser capaz de sentir amor, lealtad y gratitud, los animales son mejores que muchos humanos.</p>
                                       </div>
                                   </div>
                                   <!-- social -->
                                   <div class="footer-social">
                                       <a href="#"><i class="fab fa-twitter"></i></a>
                                       <a href="#"><i class="fab fa-facebook-f"></i></a>
                                       <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>Consultas frecuentes</h4>
                                   <ul>
                                       <li><a href="adoptar">Adopción</a></li>
                                       <li><a href="darAdopcion">Quiero dar en adopción</a></li>
                                       <li><a href="comoAyudar">Cómo ayudar</a></li>
                                       <li><a href="about">¿Quienes sómos?</a></li>
                                       <li><a href="contacto">Otras Consultas</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>Contáctanos</h4>
                                   <ul>
                                       <li><a href="#">casaangel@gmail.com</a></li>
                                       <li><a>Buenos Aires, Argentina</a></li>
                                       <li class="number"><a href="#">(80) 783 367-3904</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- footer-bottom area -->
           <div class="footer-bottom-area">
               <div class="container">
                   <div class="footer-border">
                       <div class="row d-flex align-items-center">
                           <div class="col-xl-12 ">
                               <div class="footer-copy-right text-center">
                                   <p>
                                      Copyright &copy;2021 Todos los derechos reservados. Martha Sánchez.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Footer End-->
          </div>
      </footer>
    
   
