
<body>
        <header>
        <div class="header-area">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo ">
                                    <a href="/"><img src="assets/img/logo/logo.png" ></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <div class="header-right-btn d-none d-lg-block ml-20">
                                        <a href="login" class="btn header-btn">¿Ya tienes cuenta?</a>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
   
<div class="container-fluid  m-0 " style="height : 100vh" >
    <div class="row justify-content-center align-items-center" style="height : 100vh">
        <div class="col-7 text-light">
            <form method="post" action="/registro" class="text-color">
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="pass">Contraseña</label>
                    <input type="password" class="form-control" name="pass" id="pass">
                </div>
                <div class="form-group">
                    <label for="mail">Email</label>
                    <input type="email" class="form-control" name="mail" id="mail">
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono</label>
                    <input type="number" class="form-control" name="telefono" id="telefono">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-info mt-3">Regístrate</button>
                </div>
            </form>
            <p class="text-danger text-center mt-3">{{message}}</p>
        </div>

    </div>
</div>
   <footer>
        <div class="footer-wrapper">
           <!-- Footer Start-->
           <div class="footer-area footer-padding">
               <div class="container ">
                   <div class="row justify-content-between">
                       <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
                           <div class="single-footer-caption mb-50">
                               <div class="single-footer-caption mb-30">
                                   <!-- logo -->
                                   <div class="footer-logo mb-35">
                                       <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                                   </div>
                                   <div class="footer-tittle">
                                       <div class="footer-pera">
                                           <p>Si tener alma significa ser capaz de sentir amor, lealtad y gratitud, los animales son mejores que muchos humanos.</p>
                                       </div>
                                   </div>
                                   <!-- social -->
                                   <div class="footer-social">
                                       <a href="#"><i class="fab fa-twitter"></i></a>
                                       <a href="#"><i class="fab fa-facebook-f"></i></a>
                                       <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>Consultas frecuentes</h4>
                                   <ul>
                                       <li><a href="adoptar">Adopción</a></li>
                                       <li><a href="darAdopcion">Quiero dar en adopción</a></li>
                                       <li><a href="comoAyudar">Cómo ayudar</a></li>
                                       <li><a href="about">¿Quienes sómos?</a></li>
                                       <li><a href="contacto">Otras Consultas</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>Contáctanos</h4>
                                   <ul>
                                       <li><a href="#">casaangel@gmail.com</a></li>
                                       <li><a>Buenos Aires, Argentina</a></li>
                                       <li class="number"><a href="#">(80) 783 367-3904</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- footer-bottom area -->
           <div class="footer-bottom-area">
               <div class="container">
                   <div class="footer-border">
                       <div class="row d-flex align-items-center">
                           <div class="col-xl-12 ">
                               <div class="footer-copy-right text-center">
                                   <p>
                                      Copyright &copy;2021 Todos los derechos reservados. Martha Sánchez.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Footer End-->
          </div>
      </footer>

</body>










