<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/loder.png" alt="">
            </div>
        </div>
    </div>
</div>
<header>
        <div class="header-area">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div>
                                    <a href="/usuarioIndex"><img src="assets/img/logo/logo.png" ></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">  
                                                  <li><a href="adoptar">Adoptar</a></li>
                                                    <li><a href="darAdopcion">Dar en adopción</a></li>                                
                                                <li><a href="about">¿Quienes somos?</a></li>
                                                  <li><a href="#">Más</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog">Blog</a></li>
                                                        <li><a href="experiencias">Experiencias</a></li>
                                                        <li><a href="/">Cerrar sesión</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contactou">Contacto</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-20">
                                       
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>





<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">{{mascota.nombre}}</h5>
    <p class="card-text">{{mascota.descripcion}}</p>
  <img src="{{mascota.imagen}}" alt="">
<a href="/adoptar" class="btn btn-primary">Volver</a>
    
  </div>
</div>
</div></div>

</div>
     <footer>
        <div class="footer-wrapper">
           <!-- Footer Start-->
           <div class="footer-area footer-padding">
               <div class="container ">
                   <div class="row justify-content-between">
                       <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
                           <div class="single-footer-caption mb-50">
                               <div class="single-footer-caption mb-30">
                                   <!-- logo -->
                                   <div class="footer-logo mb-35">
                                       <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                                   </div>
                                   <div class="footer-tittle">
                                       <div class="footer-pera">
                                           <p>Si tener alma significa ser capaz de sentir amor, lealtad y gratitud, los animales son mejores que muchos humanos.</p>
                                       </div>
                                   </div>
                                   <!-- social -->
                                   <div class="footer-social">
                                       <a href="#"><i class="fab fa-twitter"></i></a>
                                       <a href="#"><i class="fab fa-facebook-f"></i></a>
                                       <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>Consultas frecuentes</h4>
                                   <ul>
                                       <li><a href="adoptar">Adopción</a></li>
                                       <li><a href="darAdopcion">Quiero dar en adopción</a></li>
                                       <li><a href="comoAyudar">Cómo ayudar</a></li>
                                       <li><a href="about">¿Quienes sómos?</a></li>
                                       <li><a href="contacto">Otras Consultas</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>Contáctanos</h4>
                                   <ul>
                                       <li><a href="#">casaangel@gmail.com</a></li>
                                       <li><a>Buenos Aires, Argentina</a></li>
                                       <li class="number"><a href="#">(80) 783 367-3904</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- footer-bottom area -->
           <div class="footer-bottom-area">
               <div class="container">
                   <div class="footer-border">
                       <div class="row d-flex align-items-center">
                           <div class="col-xl-12 ">
                               <div class="footer-copy-right text-center">
                                   <p>
                                      Copyright &copy;2021 Todos los derechos reservados. Martha Sánchez.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Footer End-->
          </div>
      </footer>