<body>
    <div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="assets/img/logo/loder.png" alt="">
            </div>
        </div>
    </div>
</div>
<header>
        <div class="header-area">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div>
                                    <a href="#"><img src="assets/img/logo/logo.png" ></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">  
                                                  <li><a href="adoptar">Adoptar</a></li>
                                                    <li><a href="darAdopcion">Dar en adopción</a></li>                                
                                                <li><a href="about">¿Quienes somos?</a></li>
                                                  <li><a href="#">Más</a>
                                                    <ul class="submenu">
                                                        <li><a href="blog">Blog</a></li>
                                                        <li><a href="experiencias">Experiencias</a></li>
                                                        <li><a href="/">Cerrar sesión</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="contactou">Contacto</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-20">
                                       
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
   
    <main>   

<div class="slider-bg1">
                <div class="single-slider hero-overly slider-height slider-bg1 d-flex align-items-center">
                    <div class="container" >
                        <div class="row">
                            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".2s" style="color: white;">Bienvenido/a a Casa Ángel</h1><br>
                                    <P data-animation="fadeInUp" data-delay=".4s" style="color: rgb(234, 255, 234);">Donde los huéspedes tienen cuatro patitas<br> Cuéntanos... ¿Qué quieres hacer?</P><br>
                                    <!-- Hero-btn -->
                                    <div class="hero__btn">
                                        <a href="adoptar" class="hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">¡Adoptar!</a>
                                    </div>
                                      <div class="hero__btn">
                                        <a href="darAdopcion" class="hero-btn mb-10"  data-animation="fadeInUp" data-delay=".8s">¡Dar en adopción!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div></div>
        <!--? Our mission Start -->
        <div class="visit-tailor-area fix p-2">
    
            <div class="tailor-offers "></div>
            <div class="tailor-details">
                <span>Nuestra misión</span>
                <h2>Nuestra meta principal es proteger a los animales</h2>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente mollitia distinctio excepturi adipisci aliquid, in voluptatum ex dolores aperiam itaque ipsum, hic cupiditate aspernatur! Laboriosam est beatae natus earum nemo?</p>
                <p class="pera-bottom">Interdum nulla, ut commodo diam libero vitae erat. 
                    Aenean faucibus nibh et justo cursus id rutrum lorem 
                imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                
            </div>
        </div>
        <!-- Visit Our Tailor End -->
        <!--? Services Area Start -->
        <div class="service-area ">
            <div class="container">
                <div class="row">
                    <div class="section-tittle text-center mb-80">
                            <h2>Entradas de blog</h2>
                        </div>
                    <div class="col-lg-4 col-md-6 col-sm-11">
                        <div class="single-cat text-center mb-30">
                            <div class="cat-icon">
                                 <img src="assets/img/gallery/services1.jpg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="/blog">¡Feliz día del perro! Descubre 5 curiosidades sobre ellos</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-11">
                        <div class="single-cat active text-center mb-30">
                            <div class="cat-icon">
                            <img src="assets/img/gallery/services2.jpg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="/blog">Argentina ante una oportunidad clave para proteger su biodiversidad oceánica</a></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-11">
                        <div class="single-cat text-center mb-30">
                            <div class="cat-icon">
                                <img src="assets/img/gallery/services3.jpg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5><a href="/blog">He adoptado un perro y no todo es perfecto</a></h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Area End -->
        <!--? About Area Start -->
        <section class="support-company-area fix p-3">
            <div class="support-wrapper align-items-center">
                <div class="left-content">
                    <!-- section tittle -->
                    <div class="section-tittle section-tittle2 mb-30">
                        <span>Sobre nosostros</span>
                        <h2>Todos los animales necesitan protección</h2>
                    </div>
                    <div class="support-caption">
                        <p class="pera-top">Interdum nulla, ut commodo diam libero vitae erat. 
                            Aenean faucibus nibh et justo cursus id rutrum lorem 
                        imperdiet. Nunc ut sem vitae risus tristique posuere.</p>
                        <a href="/about" class="border-btn">Leer más</a>
                    </div>
                </div>
                <div class="right-content">
                    <!-- img -->
                    <div class="right-img">
                        <img src="assets/img/gallery/image05.jpg" alt="">
                    </div>
                   
        </section>
        <!-- About Area End -->
    </main>
     <footer>
        <div class="footer-wrapper">
           <!-- Footer Start-->
           <div class="footer-area footer-padding">
               <div class="container ">
                   <div class="row justify-content-between">
                       <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
                           <div class="single-footer-caption mb-50">
                               <div class="single-footer-caption mb-30">
                                   <!-- logo -->
                                   <div class="footer-logo mb-35">
                                       <a href="index.html"><img src="assets/img/logo/logo.png" alt=""></a>
                                   </div>
                                   <div class="footer-tittle">
                                       <div class="footer-pera">
                                           <p>Si tener alma significa ser capaz de sentir amor, lealtad y gratitud, los animales son mejores que muchos humanos.</p>
                                       </div>
                                   </div>
                                   <!-- social -->
                                   <div class="footer-social">
                                       <a href="#"><i class="fab fa-twitter"></i></a>
                                       <a href="#"><i class="fab fa-facebook-f"></i></a>
                                       <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-2 col-lg-3 col-md-4 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>Consultas frecuentes</h4>
                                   <ul>
                                       <li><a href="adoptar">Adopción</a></li>
                                       <li><a href="darAdopcion">Quiero dar en adopción</a></li>
                                       <li><a href="comoAyudar">Cómo ayudar</a></li>
                                       <li><a href="about">¿Quienes sómos?</a></li>
                                       <li><a href="contacto">Otras Consultas</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-3 col-lg-4 col-md-6 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>Contáctanos</h4>
                                   <ul>
                                       <li><a href="#">casaangel@gmail.com</a></li>
                                       <li><a>Buenos Aires, Argentina</a></li>
                                       <li class="number"><a href="#">(80) 783 367-3904</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- footer-bottom area -->
           <div class="footer-bottom-area">
               <div class="container">
                   <div class="footer-border">
                       <div class="row d-flex align-items-center">
                           <div class="col-xl-12 ">
                               <div class="footer-copy-right text-center">
                                   <p>
                                      Copyright &copy;2021 Todos los derechos reservados. Martha Sánchez.
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Footer End-->
          </div>
      </footer>
      <!-- Scroll Up -->
      <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

   
